<form action="">
  <div class="form-control">
    <label for="task">Task</label>
    <input type="text" id="task" name="task" placeholder="Add Task" />
    <label for="day-time">Day & Time</label>
    <input
      type="text"
      id="day-time"
      name="day-time"
      placeholder="Add Day & Time"
    />
    <label for="reminder">Reminder</label>
    <input type="checkbox" id="reminder" name="reminder" />
    <input
      type="submit"
      id="save"
      name="save"
      placeholder="Save Task"
      class="btn btn-block"
    />
  </div>
</form>
